-# index.html - acts as home/anime/manga page
!!! 5
%html{ :lang => "en" }
  %head
    %title= "Unapproved MAL Entries - #{@request_type.to_s.capitalize}"
    <meta charset="utf-8">
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/normalize.css"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/skeleton.css"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/custom.css"}
  %body
    = @octo
    .container
      %nav
        %h3= "Unapproved MAL Entries - #{@request_type.to_s.capitalize}"
        %a{ :class => "button", :href => "/anime" } anime
        %a{ :class => "button", :href => "/manga" } manga
        %a{ :href => "/raw.json" } download raw file
      %ul
        %li= "There are currently #{@ids.count} unapproved #{@request_type}"
        %li= @updated_desc
      %ol
        - @ids.reverse.each do |i|
          %li
            %span{}= "#{i} (#{@data[i]['type']}) "
            - if @data[i]["nsfw"]
              %span{ :class => "nsfw" }= "[NSFW] "
            %span{}= "- "
            %a{ :href => @data[i]["url"] }= @data[i]["name"]

